---
import ExamenLayout from "../../layouts/ExamenLayout.astro";
import Map from "../../components/Map.svelte"
---
<ExamenLayout title="Mapa">
    Mapa:
    <div class="container">
        <Map client:only origin={[51.5, -0.09]} points={
            [
                {
                    coordinates: [51.5, -0.09], text: "hello world1"
                }
            ]
        } />
      </div> 
</ExamenLayout>