---
import ExamenLayout from '../../layouts/ExamenLayout.astro'
import { getAccessToken, isLoggedIn } from "../../lib/auth0";
import { Configuration, DefaultApi } from "../../api/backend";
import cookies from '../../cookies';

if (!isLoggedIn(Astro)) {
  return Astro.redirect("/");
}

const api = new DefaultApi(
  new Configuration({
    basePath: import.meta.env.BACKEND_URL,
    accessToken: () => getAccessToken(Astro),
  })
);

let sub = await api.authAuthGet();
const token = await getAccessToken(Astro);
const userid = (sub.split("|")[1]).replace('"', '');
async function getUserData(){
  let data = await fetch(
    `https://${import.meta.env.PUBLIC_AUTH0_BASEURL}/userinfo`,
    {
      headers: {
        'Authorization': `Bearer ${token}`
      }
    }
  ).then(x => x.json())
  return data;
}
const userData = await getUserData();
console.log(userData);
//console.log(userid);

/*
let userInfo = await fetch(`https://${import.meta.env.PUBLIC_AUTH0_BASEURL}/userinfo`, {
  headers: {
    'Authorization': `Bearer ${token}`
  }
})
  .then(response => response.json())

console.log(userInfo);
*/
---

<ExamenLayout title="Authenticated">
  <h1>Hi, {userData["given_name"]}</h1>
  <p>Email: {userData["email"]}</p>
  <img src={userData["picture"]}/>
</ExamenLayout>